*{
    font-family: 'Courier New', Courier, monospace;
  }
  
  html {
    height: 100%;
  }
  
    body {
        background-color: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
  
    svg {
        background-color: white;
        box-shadow: 0 3px 15px black;
        border-radius: 5px;
        padding: 10px;
    }
  
    .bar {
        background-color: cadetblue;
        border-color: cadetblue;
        fill: cadetblue;
    }
  
    .bar:hover {
        fill: black;
    }
  
    g {
        color: darkgray
    }
  
    #tooltip {
        margin-top: 10px;
        color: white;
        font-size: 28px;
    }
  
    #title {
        font-size: 30px;
        fill: darkgray;
    }
  
  
  